<div class="row">
  <label>Search</label>
  <input type="text" [(ngModel)]="searchProperties.City" placeholder="city">

</div>
<div class="row">
  <label >Sort by:</label>
  <select [(ngModel)]="SortbyParam">
    <option value="City">
      City
    </option>
    <option value="Price">
      Price
    </option>
  </select>

</div>
<div class="row">
  <div *ngFor="let property of properties|filter:searchProperties.City:'City'|sort:[SortbyParam,'desc']" class="shadow-lg col-sm-4 p-3">
    <app-property-card [property]=property></app-property-card>

  </div>
</div>
